---
import { Icon } from 'astro-icon/components'
import ThemeToggle from './ThemeToggle'

const { pathname } = Astro.url
---

<header class='flex flex-col items-center gap-12 py-5 lg:py-7'>
  <nav class='flex items-center justify-between w-full'>
    <Icon name='logo' class='size-8 text-black dark:text-white' />
    <Icon
      id='mobile-menu'
      name='tabler:menu-2'
      class='size-8 text-black dark:text-white block sm:hidden cursor-pointer'
    />
    <div class='hidden sm:flex items-center gap-5 text-lg'>
      <a href='/'>Blog</a>
      <a href='/about'>About</a>
      <ThemeToggle client:only />
    </div>
  </nav>

  <div class='w-full border-y border-black dark:border-white'>
    {
      pathname === '/' && (
        <h1 class='text-[18vw] md:text-[19vw] lg:text-[18vw] xl:text-[17vw] 2xl:text-[14vw] leading-none font-bold text-center -translate-y-1 sm:-translate-y-2 lg:-translate-y-4 pointer-events-none'>
          THE BLOG
        </h1>
      )
    }
    {
      pathname === '/about' && (
        <h1 class='text-[17vw] md:text-[18vw] lg:text-[17vw] xl:text-[16vw] 2xl:text-[12vw] leading-none font-bold text-center -translate-y-1 sm:-translate-y-2 lg:-translate-y-4 pointer-events-none'>
          JOHN DOE
        </h1>
      )
    }
  </div>
</header>

<!-- Mobile Header -->
<header
  id='mobile-header'
  class='hidden sm:hidden inset-0 bg-white dark:bg-black z-10'
>
  <div class='flex flex-col items-center justify-center h-full gap-y-12'>
    <Icon name='logo' class='size-8 text-black dark:text-white' />

    <div class='flex flex-col items-center gap-y-6 text-lg'>
      <a href='/'>Blog</a>
      <a href='/about'>About</a>
      <ThemeToggle client:only />
    </div>
  </div>

  <Icon
    id='close-icon'
    name='tabler:letter-x'
    class='absolute inset-x-0 mx-auto bottom-4 size-6 text-black dark:text-white cursor-pointer'
  />
</header>

<script>
  let close = document.querySelector('#close-icon')
  let mobileHeader = document.querySelector('#mobile-header')
  let mobileMenu = document.querySelector('#mobile-menu')

  mobileMenu?.addEventListener('click', () => {
    document.documentElement.classList.add('overflow-hidden')
    mobileHeader?.classList.remove('hidden')
    mobileHeader?.classList.add('absolute')
  })

  close?.addEventListener('click', () => {
    document.documentElement.classList.remove('overflow-hidden')
    mobileHeader?.classList.remove('absolute')
    mobileHeader?.classList.add('hidden')
  })

  // Remove click listeners
  close?.removeEventListener('click', () => {
    document.documentElement.classList.remove('overflow-hidden')
    mobileHeader?.classList.remove('absolute')
    mobileHeader?.classList.add('hidden')
  })

  mobileMenu?.removeEventListener('click', () => {
    document.documentElement.classList.add('overflow-hidden')
    mobileHeader?.classList.remove('hidden')
    mobileHeader?.classList.add('absolute')
  })
</script>
