---
import { Icon } from 'astro-icon/components'

interface Props {
  currentPage: number
  pageCount: number
  nextPageUrl?: string
  prevPageUrl?: string
}

const { currentPage, pageCount, nextPageUrl, prevPageUrl } = Astro.props
---

<nav class='flex justify-between items-center gap-x-1 pt-5'>
  <a
    href={prevPageUrl}
    class:list={[
      'min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex jusify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10',
      !prevPageUrl && 'opacity-50 pointer-events-none',
    ]}
  >
    <Icon name='tabler:arrow-narrow-left' class='flex-shrink-0 size-5' />
    <span aria-hidden='true' class='hidden sm:block'> Previous </span>
  </a>
  <div class='flex items-center gap-x-1'>
    {
      Array(pageCount)
        .fill('')
        .map((_, i) => (
          <a
            href={`${i == 0 ? '/blog' : `/blog/${i + 1}`}`}
            class:list={[
              'min-h-[38px] min-w-[38px] flex justify-center items-center text-gray-800 py-2 px-3 text-sm rounded-lg dark:hover:text-black hover:outline-none hover:bg-purple-100 dark:text-white dark:hover:bg-purple-200',
              currentPage === i + 1 && 'bg-purple-100 dark:bg-purple-500',
            ]}
          >
            {i + 1}
          </a>
        ))
    }
  </div>
  <a
    href={nextPageUrl}
    class:list={[
      'min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex jusify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10',
      !nextPageUrl && 'opacity-50 pointer-events-none',
    ]}
  >
    <span aria-hidden='true' class='hidden sm:block'> Next </span>
    <Icon name='tabler:arrow-narrow-right' class='flex-shrink-0 size-5' />
  </a>
</nav>
