---
import { Icon } from 'astro-icon/components'
---

<nav class='flex justify-between items-center gap-x-1 pt-5'>
  <button
    type='button'
    class='min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex jusify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10'
  >
    <Icon name='tabler:arrow-narrow-left' class='flex-shrink-0 size-5' />
    <span aria-hidden='true' class='hidden sm:block'> Previous </span>
  </button>
  <div class='flex items-center gap-x-1'>
    {
      Array(Math.ceil(3))
        .fill('')
        .map((_, i) => (
          <button
            type='button'
            class='min-h-[38px] min-w-[38px] flex justify-center items-center bg-gray-200 text-gray-800 py-2 px-3 text-sm rounded-lg focus:outline-none focus:bg-gray-300 dark:bg-gray-600 dark:text-white dark:focus:bg-gray-500'
          >
            {i + 1}
          </button>
        ))
    }
  </div>
  <button
    type='button'
    class='min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex jusify-center items-center gap-x-2 text-sm rounded-lg text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10'
  >
    <span aria-hidden='true' class='hidden sm:block'> Next </span>
    <Icon name='tabler:arrow-narrow-right' class='flex-shrink-0 size-5' />
  </button>
</nav>
